/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
}
:root {
     --color-white: white;
    --text-color: black;
    --background-color: white;
    --text-width: 100%; 
}
body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    height: 100vh;
    font-family:'Roboto',sans-serif ;
}
aside{
    color: var(--color-white);
    background-image: url(images/sidebar-1.jpg);
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: color;
    overflow: hidden;
}
 .asideLinks, .logo{
    margin: 5px;
    padding: 10px 30px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1rem 1fr 1rem auto;
    grid-template-columns: auto 1fr auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.asideLinks:hover:not(.active, .avatar, .logo) {
  background-color: rgba(211, 211, 211, 0.455);  
}
.active {
    background-color: orangered;
    border-radius: 3px;
}

/*    HEADER    */
.container{
    background-color: rgb(241, 235, 235);
    padding: 20px 50px;
    overflow-y: scroll;
    }
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: -20px 5px;
}
.Info{
    margin: 0;
    padding: 10px 0px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1rem 1fr 1rem auto;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;   
} 
.circle{
    background-color: var(--background-color);
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    -webkit-box-shadow: 6px 4px 11px -6px rgba(0,0,0,0.75);
            box-shadow: 6px 4px 11px -6px rgba(0,0,0,0.75)
}
.circle:hover{
    -webkit-box-shadow: 8px 4px 11px -3px rgba(0,0,0,0.75);
            box-shadow: 8px 4px 11px -3px rgba(0,0,0,0.75)
}
h1{
    font-size: 20px;
    font-weight: normal;
}
header div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    cursor: pointer;
}
.notifications{
    position: relative;
}
.notificationsInfo{
    background-color: red;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    border: 1px solid white;
    color: var(--color-white);
}
.notificationsMsg{
    padding: 10px;
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--background-color);
    position: absolute;
    top: 15px;
    right: 20px;
    display: none;
    z-index: 100;
}
.notifications:hover .notificationsMsg{
    display: block;
}
.notificationsMsg p{
    padding: 10px 20px;
}
.notificationsMsg p:hover{
    background-color: orangered;
}
.form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
 .form input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid lightgray;
    -webkit-transition: border-bottom 2s ease;
    -o-transition: border-bottom 2s ease;
    transition: border-bottom 2s ease;
    padding: 5px;
}
.form input:focus{
    border-bottom: 2px solid red;
}

/* MAIN CARD */
.mainCard {
    background-color: var(--background-color);
    border-radius: 5px;
    position: relative;
    width: var(--text-width);
    margin-right: 20px;
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    }
.mainCard .material-symbols-outlined,
figure .material-symbols-outlined{
    position: absolute;
    font-size: 1.5rem;
    border-radius: 3px;
    top: -20px;
    left: 15px;
    padding: 25px;
    z-index: 10;
    -webkit-box-shadow: 6px 4px 11px -6px rgba(0,0,0,0.75);
            box-shadow: 6px 4px 11px -6px rgba(0,0,0,0.75)
}
.title {
    margin: 20px 0 0 110px;
    font-size: 1.3em;
}
.mainCardInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
    gap: 40px;
}
.mainCard-iframe {
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
}
iframe {
    width: var(--text-width);
    height: 100%;
}
.green {
    background-color: rgba(71, 160, 75, 255);
    color: var(--color-white);
}
.flag {
    width: 1.3rem;
    height: 1.3rem;
}
table {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: var(--text-width);
    height: 235px;
    border-collapse: collapse;
}
tr {
    border-bottom: 1px solid rgb(196, 196, 196);
    width: 50%;
}
td:nth-child(1) {
    white-space: wrap;
    width: 30px;
}
td:nth-child(3), td:nth-child(4) {
    width: 5rem;
    text-align: right;
}
tr:last-child {
    border: none;
}
td {
    padding: 10px 0px 5px 0px;
}

/*    BOOKING CARD    */
.booking-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 170px;
    margin-top: 73px;
}
.booking-card-box {
    border-radius: 5px;
    position: relative;
    padding: 15px;
    background-color: var(--background-color);
}
.orange, .blue, .pink{
    color: var(--color-white);
}
.orange {
    background-color: rgb(252, 130, 5); 
}
.blue {
    background-color: rgb(97, 157, 194);  
}
.pink {
    background-color: rgb(220, 36, 96);
   }
.grey {
   color: grey;
}
.booking-card-title {
    text-align: end;
    color: gray;
    font-size:15px;
}
.booking-card-number {
    margin: 10px;
  font-size: 25px;
    text-align: end;
    font-weight: 200;
}
.booking-card-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    margin: 10px;
    font-size: 1rem;
    color: gray;
}

/*    MANAGE LIST      */
.manage-list-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    position: relative;
    margin-bottom: 50px;
}
.manageTitle {
    position: absolute;
    top: -95px;
    font-size: 26px;
}
.manage-list-item {
    padding: 0px 15px 0px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: var(--background-color);
}
.manage-list-item-animation {
    position: relative;
    top: -35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.manage-list-item-img {
    position: relative;
    width: var(--text-width);
    height: 100%;
    border-radius: 5px;
    z-index: 2;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    top: 0;
}
.manage-list-item-animation:hover .manage-list-item-img {
    top: -2rem;
    cursor: pointer;
}
.manage-list-item-edits {
    position: absolute;
    bottom: 0;
    gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
}
.manage-list-item-title {
    margin: 0;
    position: relative;
    top: -15px;
    font-size: 1.3rem;
    color:var(--text-color);
}
.manage-list-item-paragraph {
    margin: 0px 0px 20px 0px;
    color: gray;
}
.manage-list-item hr {
    background-color: rgb(198, 198, 198);
    width: var(--text-width);
    margin: 10px;
}
.manage-list-item-bottom {
    width: var(--text-width);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.manage-list-item-bottom-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: gray;
    padding: 10px;
}
hr {
    color: lightslategray;
}

/*    FOOTER    */
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 10px;
    padding: 10px 5px;
}
.left-side-footer {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color:var(--text-color);
}
a{
    text-decoration: none;
}
.left-side-footer h4 {
    margin-right: 10px;
    color: var(--text-color);
    font-size: 14px;
}
/*    RESPONSIVE      */
@media(max-width: 1024px) {
 header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
@media(max-width: 1000px) {
    .aside {
        display: none;
    }
   }
@media (max-width:768px) {
    .manage-list-container {
        -ms-grid-columns: 1fr ;
        grid-template-columns: 1fr ;
        -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .manage-list-container > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .manage-list-container > *:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .manage-list-container > *:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
}
@media (max-width:640px) {
    .mainCard {
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
    }
 .booking-card {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-column: 1fr 1fr 1fr ;
    }
}



