.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img{
    width: 300px;
    filter: blur(10px);
    transition: filter 0.5s ease, transform 0.5s ease;
}

img:hover {
    filter: blur(0); 
    transform: rotate(720deg); 
    transition-delay: 0.5s; 
}