<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A colorful page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1>A colorful page</h1>
        <nav>
            <ul>
                <li class="nav"><a class="buttons" href="home.html"><u>Home</u></a></li>
                &nbsp; &nbsp;
                <li class="nav"><a class="buttons" href="contact.html"><u>Contact</u></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <article class="section1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et fermentum nisl, vel volutpat ante.
                    Nunc
                    feugiat, felis et consectetur sollicitudin, nibh velit efficitur sem, sed malesuada tortor lacus at
                    orci. Nunc ut nunc quis diam luctus aliquam. Sed semper justo sit amet lacus semper, ut efficitur
                    ante
                    cursus. Vestibulum eu vestibulum ante. Morbi metus sapien, rutrum eu tellus quis, porttitor lacinia
                    ex.
                    Aliquam accumsan velit sed dolor finibus congue. Nunc nec neque nec dolor bibendum lobortis in in
                    turpis. Ut accumsan feugiat suscipit. Integer quis vulputate purus.</p><br><br>
            </article>
            <article class="section2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et fermentum nisl, vel volutpat ante.
                    Nunc
                    feugiat, felis et consectetur sollicitudin, nibh velit efficitur sem, sed malesuada tortor lacus at
                    orci. Nunc ut nunc quis diam luctus aliquam. Sed semper justo sit amet lacus semper, ut efficitur
                    ante
                    cursus. Vestibulum eu vestibulum ante. Morbi metus sapien, rutrum eu tellus quis, porttitor lacinia
                    ex.
                    Aliquam accumsan velit sed dolor finibus congue. Nunc nec neque nec dolor bibendum lobortis in in
                    turpis. Ut accumsan feugiat suscipit. Integer quis vulputate purus.</p>
            </article>
        </section>
    </main>
    <footer>
        
        <a href="signup.html">Sign up here.</a>
    </footer>
</body>

</html>